@import "../../assets/styles/variables.scss";

.input {
  background-color: $white-primary;
  color: $black-primary;
  padding: $link-padding;
  outline: none;
  border-radius: 10px;
  border: 1px solid $black-primary;
}
