@import "../../assets/styles/variables.scss";

.menu-link {
  display: inline-block;
  color: $white-primary;
  text-decoration: none;
  padding: $link-padding;
  line-height: 0;
  margin: 0 !important;

  .svg-container {
    display: flex;
    justify-content: center;
    transition: transform ease .5s;
  }

  &__wrapper{
    display: flex;
    gap: 7px;

    &:hover > .svg-container {
      transform: rotate(90deg);
    }
  }
}
