@import "../../assets/styles/variables.scss";

.menu-wrapper {
  display: inline-block;
  height: inherit;

  &__show {
    display: none;
  }

  &:hover > &__show {
    color: $white-primary;
    padding: 0px 20px 0px 20px;
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-content: center;
    gap: 5px;
  }
}

.active {
  transform: rotate(90deg);
}

.menu-link {
  display: inline-block;
  color: $white-primary;
  text-decoration: none;
  padding: 0px 20px 0px 20px;
  line-height: 0;

  .svg-container {
    display: flex;
    justify-content: center;
    transition: transform ease .5s;
  }

  &__wrapper{
    display: flex;
    gap: 7px;
  }
}

@media (min-width: 970px) {
  .menu-link {
    padding: 30px 0px 30px 0px;
  }
  
  .menu-wrapper {
    margin: 0px 20px 0px 20px;

    &:hover > &__show {
      background-color: $black-primary;
      position: absolute;
      top: 101%;
      left: 0;
      right: 0;
      max-width: 100%;
      padding: 50px;
      z-index: 1000;
    }
  }
}
