@import "../../assets/styles/variables.scss";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: $white-primary;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: $z-max;

  &__title {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__cross {
    width: 23px;
    height: 23px;
    transform: translateY(-50%);

    &:hover {
      cursor: pointer;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 15px 0px 30px 10px;
  }

  &__checkbox-text {
    margin: 0px;
    font-size: 14px;
    transform: translateY(20%);
  }
}

.modal-container::before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-large;
  background-color: rgba(38, 38, 38, 0.486);
}

@media (max-width: 970px) {
  .modal {
    width: 97%;
    height: 100%;
    z-index: $z-max;
    border-radius: none;

    &__title {
      margin-top: 50px;
      justify-content: space-between;
      padding: 0px 20px;
    }

    &__text {
      font-size: $h2_font_size;
    }
  }
  
  .modal-container::before {
    display: none;
  }
}