// Headings

$h1_font_size: 40px !default;
$h2_font_size: 24px !default;
$h3_font_size: 20px !default;
$h4_font_size: 16px !default;
$h5_font_size: 0.83em !default;
$h6_font_size: 0.75em !default;
$p_font_size: 16px !default;

// Button
$button-padding: 12px 20px;

// Links
$link-padding: 18px 20px;

// Tag
$tag-padding: 6px 15px 6px 15px;

// colors
$gradient: linear-gradient(180deg, #FB8627 0%, #F5BEF6 100%);
$white-primary: #ffff;
$black-primary: #0F0F17;
$black-secondary: #353535;
// Font:
$inter-regular: 400;
$inter-medium: 500;
$inter-semibold: 600;

@mixin inter($weigth) {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weigth;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
